.person {
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.person-name {
  font-weight: bold;
}

.person-img {
  display: block;
  max-width: 128px;
  max-height: 128px;
  margin: 10px auto;
}

.highlight {
  background-color: yellow;
}
